/* mY Frame-Work */
$mainColor:  #27699b;
$mainFont: 'Oswald', sans-serif;
$mainBackgroundColor: #ececec;

/* extend classes */
%transition{
    -webkit-transition: all .6s ease-in-out;
    -moz-transition: all .6s ease-in-out;
    -o-transition: all .6s ease-in-out;
    transition: all .6s ease-in-out;
}
*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box; 
}
/* Start Nav */
.navbar {
    background-color: #767676!important;
    padding: 0!important;
    .navbar-toggler{
		margin-right: 15px;
    }
    .navbar-nav{
    	.nav-item{
    		font-size: 13px;
    		margin-right: 10px;
    		margin-left: 5px;
    		.active{
	    		color: #fff!important;
	    		font-weight: bold;
	    	}
    	}
    	.nav-link{
    		color: #dfdfdf!important;
    		height: 60px;
    		line-height: 45px;
    		&:hover{
    			border-bottom: 4px solid #0b6fbc;
    		}
    	}
    }
    i{
    	height: 60px;
    	line-height: 60px;
   	 	width: 70px;
    	text-align: center;
    	background-color: #bbbbbb;
    	color: #fff;
    }
}
/* End Nav */
/* Start Company Group */
.com-group{
	background-color: $mainBackgroundColor;
	padding-top: 40px;
	padding-bottom: 60px;
	.title{
		h1{
			color: $mainColor;
			font-family: $mainFont;
			font-size: 50px;
		}
	}
	.row{
		padding-top: 45px;
		.info{
			color: #7b7b7b;
			padding-bottom: 50px
		}
		.carousel{
			.carousel-control-next,
			.carousel-control-prev{
			    top: 155px;
			    width: 8%;
			    opacity: .5;
			    background-color: #1a222e;
    			height: 102px;
			}
		}
	}
}
/* END Company Group */
/* Start Flags Tap */
.tabs{
	background-color: $mainBackgroundColor;
	.hr{
		border-top: 1px solid #707070;
		nav{
			ul{
				margin-bottom: 0;
				.col-lg-6{
					    padding-right: 0px;
    					padding-left: 0px;
					li{
						float: left;
						padding-top: 20px;
						padding-bottom: 10px;
						&:hover{
							background-color: #e0e0e0;
							cursor: pointer;
							@extend %transition;
						}
						img{
							width: 100px;
						}
						.info{
							color: #37719f;
							font-weight: bold;
						}
					}
				}
			}
		}
		.active{
			background-color: #e0e0e0;
			padding-top: 60px;
			padding-bottom: 60px;
			.country-info{
				h1{
					color: $mainColor;
					font-family: $mainFont;
					font-size: 50px;
					margin-left: 35px;
					margin-bottom: 20px
				}
				p{
					color: #7b7b7b;
					margin-left: 35px;
				}
				button{
					color: #fff;
					background-color: #0b6fbc;
					border: none;
					cursor: pointer;
					margin-left: 35px;
					width: 200px;
					height: 45px;
					margin-top: 65px;
					margin-bottom: 40px;
				}
			}
			.contact{
				padding-top: 120px;
				h1{
					color: $mainColor;
					font-family: $mainFont;
					font-size: 50px;
					margin-left: 26px;
				}
				hr{
					margin-top: 0;
				    margin-bottom: 0;
				    border: 0;
				    border-top: 1px solid #707070;
				    width: 95%
				}
				p{
					color: #0b6fbc;
				    margin-left: 35px;
				    font-size: 16px;
				    margin-right: 30px;
				    margin-top: 15px
				}
			}
		}
		.disactive{
			display: none;
		}
	}
}
/* End Flags Tap */
/* Start herizontal-line */
.herizontal-line{
	padding-top: 40px;
	background-color: $mainBackgroundColor;
	.line{
		width: 100%;
		height: 20px;
		background-color: #767676;
	}
}
/* End herizontal-line */
/* Start Footer */
.footer{
	background-color: #222222;
	.info{
		margin-left: 35px;
		padding-top: 50px;
		h3{
			color: #fff;
			font-size: 23px;
		}
		p{
			color: #d4d4d4;
			font-size: 15.2px;
		}
	}
	.contact{
		margin-top: 100px;
		.social{
			display: inline-block;
			ul{
				padding-left: 15px;
				li{
					float: left;
					margin-right: 10px;
				}
			}
			h6{
				color: #e2e2e2;
				padding-left: 15px;
				padding-top: 15px;
				clear: both;
			}
		}
		.offices{
			display: inline-block;
    		float: right;
			h6{
				color: #434242;
				font-weight: bold;
			}
			ul{
				li{
					float: left;
					margin-right: 8px;
					:after{
						content: " |";
					}
					a{
						color: #434242;
					}
				}
				li:last-child{
					:after{
						content: " ";
					}
				}
			}
			.map{
				margin-left: 100px;
			}
		}
	}
}
/* End Footer */
/* Start Media */
/* Smart Phones And Tablets */
@media (max-width: 767px)
{ 
	.footer .contact .social {
	    margin-bottom: 20px;
	}
	.footer .contact .offices {
	    padding-left: 30px;
	}
	.footer .contact .offices ul li {
	    margin-right: 12px;
	    font-size: 12px;
	    font-weight: bold;
	}
}
/* Small Screen */ 
@media (min-width: 768px) and (max-width: 991px)
{
   .footer .contact .social {
	    margin-bottom: 20px;
	}
	.footer .contact .offices {
	    padding-left: 30px;
	}
	.footer .contact .offices ul li {
	    margin-right: 15px;
	}
}
/*  Medium Screen */ 
@media (min-width: 992px) and (max-width: 1199px)
{
	.tabs .hr nav ul .col-lg-6 li img {
	    width: 92px;
	}
	.tabs .hr nav ul .col-lg-6 li .info {
	    font-weight: bold;
	    font-size: 15px;
	}
	.tabs .hr nav ul {
	    margin-bottom: 0px;
	}
	.footer .contact .offices ul li a {
	    font-size: 12px;
	    font-weight: 500;
	}

}
/* End Media */

